body {
    background-color: #fff;
    color: #000;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
}
.header-logo {
    color: #5ce5b4;
    font-size: 30px;
    font-weight: 700;
}

.back-to-music{
    text-align: center;
    margin: 30px auto 50px;
    max-width: 1000px;
    text-decoration: underline;
}
.back-to-music > * {
    color: #5ce5b4;
}
.container{
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
}
.navcol{
    width: 20%;
    max-width: 200px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}
.nav-item{
    text-align: right;
    margin-bottom: 20px;
    cursor: pointer;
}
.nav-item:hover{
    color:#5ce5b4;
    opacity: .9;
}
.is-showing{
    color:#5ce5b4;
}
.account-info,
.account-timer{
    margin-left: 100px;
}
.account-timer{
    min-height: 80vh;
}
.is-hidden{
    display: none !important;
}

.form-name{
    margin-bottom: 50px;
    color: #5ce5b4;
}
.form-control-profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-left-col{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.input-label{
    margin: 10px 0;
}
.submit-info-btn{
    margin-top: 30px;
    background-color: #5ce5b4;
    color: #fff;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    cursor: pointer;
}
.submit-info-btn:hover{
    background-color: #57c9a1;
}
.messProfile,
.messTimer{
    height: 16px;
    margin-top: 10px;
    color: #57c9a1;
    /* padding-left: 30px; */
}
.messPassword{
    height: 16px;
    margin-top: 10px;
    max-width: 150px;
}
.form-right-col{
    display: flex;
    flex-direction: column;
}
.input-value{
    margin-bottom: 6px;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 0 20px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #ddd;
    margin: 60px 0 50px;
}

/* footer */
.footer{
    background-color: #eee;
    padding: 50px 50px 0;
}
.footer a{
    color: #000;
    display: inline-block;
}
.footer-info{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-logo{
    flex: 1 1 25%;
    font-size: 25px;
    font-weight: 700;
}
.footer-content{
    flex: 1 1 75%;
    display: flex;
}
.footer-col{
    flex-basis: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.footer-col-name{
    margin: 10px 0;
    font-weight: 700;
}
.footer-col-option{
    margin: 10px 0;
    font-size: 12px;
    opacity: .8 ;
}
.footer-col-option:hover{
    color: #57c9a1;
}
.footer-copyright{
    padding: 50px 0 20px;
    text-align: center;
}
.footer-copyright a{
    display: inline-block;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .account-info,
    .account-timer{
        margin-left: 50px;
    }
    .form-left-col{
        margin-right: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .container{
        display: block;
    }
    .navcol{
        flex-direction: row;
        max-width: 100vw;
        width: 100%;
    }
    .nav-item{
        text-align: center;
        margin: 0 20px 50px;
        flex: 1 1 100%;
    }
    .account-info,
    .account-timer{
        margin-left: 30px;
    }
    .form-control-profile{
        justify-content: space-around;
    }
    .form-name{
        margin-bottom: 30px;
        text-align: center;
    }
    .form-left-col{
        margin-right: 0;
    }
    .form-right-col{
        margin-right: 10px;
    }
    .input-value{
        width: 110%;
    }

    .footer{
        padding: 50px 30px 0;
    }
    .footer-info{
        display: block;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
}