@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    background-color: #6868ab;
    color: #fff;
    scroll-behavior: smooth;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}
