@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container {
    display: flex;
    min-height: 80vh;
    justify-content: center;
}
.login {
    width: 40%;
    padding: 20px 0;
    flex: 1 1 40%;
}
.login-container {
    text-align: center;
}
.login-container>div {
    padding: 30px;
}
.advertisement {
    display: flex;
    align-items: center;
    flex: 1 1 60%;
}
.advertisement-item {
    margin: auto;
    padding: 20px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5em;
    color: #5ce5b4;
}
.ban {
    width: 1px;
    background-color: rgb(102, 102, 102);
    height: 90%;
}
.Logoad a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: rgb(92, 229, 180);
}
.caption {
    font-size: 18px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    line-height: 30px;
}
.Logologin a {
    text-decoration: none;
}
.Logologin {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 18px;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: rgb(102, 102, 102);
}
.Logologin i {
    color: red;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    font-weight: 700;
}
.Logologin:hover {
    transition: 0.2s;
    border: 3px solid rgb(92, 229, 180);
}
.Logologin a span {
    font-size: 14px;
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-weight: 600
}
.logophu {
    color: rgb(102, 102, 102);
    font-size: 15px;
}
.form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}
.form>.input>input {
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    z-index: 1;
    border-radius: 18px;
    padding: 10px 12px;
    height: 32px;
    line-height: 16px;
    border: 0.2px solid gray;
    height: 40px;
}
.input {
    padding-bottom: 15px;

}
.form>.input>input:hover {
    transition: 0.3s all ease-in-out;
    border: 3px solid rgb(92, 229, 180);
}
.submit-btn {
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    z-index: 1;
    border-radius: 18px;
    padding: 10px 12px;
    height: 32px;
    line-height: 16px;
    border: none;
    background-color: rgb(92, 229, 180);
    margin: 0 auto;
    height: 40px;
}
.submit-btn:hover {
    background-color: rgb(9, 158, 158);
    cursor: pointer;
}
.forgot a {
    color: rgb(92, 229, 180);
}
.signup a {
    color: rgb(92, 229, 180);
}
.ealnnZ {
    display: flex;
    flex-direction: column;
    position: relative;
}
.kfOGth {

    position: absolute;
    top: 36px;
    left: 100px;
}
.hYclqr {
    position: relative;
    padding: 2px 0px 2px 42px;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.invalid-value-input {
    border: 2px solid red !important;
    background-color: rgb(255, 226, 231);
}
.error-noti{
    color: red;
    margin-bottom: 15px;
}
/* footer */
.footer{
    background-color: #eee;
    padding: 50px 50px 0;
}
.footer a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}
.footer-info{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.footer-logo{
    flex: 1 1 25%;
    font-size: 25px;
    font-weight: 700;
}
.footer-content{
    flex: 1 1 75%;
    display: flex;
}
.footer-col{
    flex-basis: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}
.footer-col-name{
    margin: 10px 0;
    font-weight: 700;
}
.footer-col-option{
    margin: 10px 0;
    font-size: 12px;
    opacity: .8 ;
}
.footer-col-option:hover{
    color: #57c9a1;
}
.footer-copyright{
    padding: 50px 0 20px;
    text-align: center;
}
.footer-copyright a{
    display: inline-block;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {
    .advertisement{
        display: none;
    }
    .footer{
        padding: 50px 30px 0;
    }
    .footer-info{
        display: block;
    }
    .footer-logo{
        margin-bottom: 20px;
    }
}